@charset "utf-8";

/* 
	New Perspectives on HTML5 and CSS3, 8th Edition
	E-Commerce Website Project		
		
	Author: Matthew Robertson
	Date:
*/


/* HTML, header, and nav styles */
html {
	min-width: 1342px;
	max-width: 2187px;
	/*background-color: #fff2cc;*/
	background: linear-gradient(rgb(255,228,178) , rgb(255,201,102), rgb(207,156,62), rgb(255,201,102), rgb(255,228,178));
}

.header {
	background-color: #7c501a;
	text-align: center;
	border-radius: 25px;
}

.header h1 {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
	font-size: 75px;
	margin: 0;
	font-weight: bold;
}

#nav {
	background-color: rgb(153,99,0);
}

#nav ul {
	display: flex;
}

#nav ul li {
	list-style: none;
	margin: 0 auto;
	font-size: 17px;
}

#nav ul li a {
	text-decoration: none;
	color: #fff2cc;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

#nav ul li a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}

/* ======================================== */
/* Main body style */
article {
	box-shadow: 14px 0px 8px #7c501a, -14px 0px 8px #7c501a;
}

/* ======================================== */
/* Body style class cookie */
.cookie, .cookie h2 {
	justify-items: center;
}

.cookie h2 {
	color: #7c501a;
	font-size: 2em;
	padding-top: 10px;
}

.cookie p {
	color: #7c501a;
	font-size: 24px;
	padding-top: 10px
}

.cookie img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* ======================================== */
/* Body style class cake */
.cake, .cake h2 {
	justify-items: center;
}

.cake h2 {
	color: #7c501a;
	font-size: 2em;
	padding-top: 10px;
}

.cake p {
	color: #7c501a;
	font-size: 24px;
	padding-top: 10px
}

.cake img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}
/* ======================================== */
/* Body style class pie */
.pie, .pie h2 {
	justify-items: center;
}

.pie h2 {
	color: #7c501a;
	font-size: 2em;
	padding-top: 10px;
}

.pie p {
	color: #7c501a;
	font-size: 24px;
	padding-top: 10px
}

.pie img {
	display: block;
	width: 50%;
	border: 5px solid #7c501a;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* ======================================== */
/* Body style class menu */
.menu  {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.menu h2 {
	color: #7c501a;
	font-size: 2em;
	justify-self: center;
}

.menu ul {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.menu ul li {
	padding: 7px;
	list-style: inside;
	color: #7c501a;
	font-size: 1.5em;
}

/* ======================================== */
/* Button sytle */
.button {
	background-color: #7c501a; 
	color: #fff2cc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	border-radius: 20px;
	transition: 0.6s ease;
	margin-bottom: 20px;
}

.button:hover {
	background: linear-gradient(rgb(204,132,0), rgb(153,99,0));
	color: #7c501a;
}


/* ======================================== */
/* footer style */

footer {
	background-color: #7c501a;		
	border-radius: 25px;
}

.contact {
	color: #fff2cc;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}

.contact a {
	color: #fff2cc;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

.contact a:hover {
	background: linear-gradient(to top, rgb(255,228,178), rgb(255,201,102), rgb(255,165,0), rgb(204,132,0), rgb(153,99,0));
	color: transparent;
	background-clip: text;
}
